<div class="mx-auto h-full bg-slate-400">
  <h1 class="p-4 text-center text-lg">
    Liste des articles disponible dans nos magasins
  </h1>
  <div
    class="mx-auto flex w-4/5 flex-wrap gap-1 rounded-lg border border-slate-950 p-5"
  >
    <div class="w-1/4">
      <app-article />
    </div>
    <div class="w-1/4">
      <app-article />
    </div>
    <div class="w-1/4">
      <app-article />
    </div>
    <div class="w-1/4">
      <app-article />
    </div>
    <div class="w-1/4">
      <app-article />
    </div>
    <div class="w-1/4">
      <app-article />
    </div>
    <div class="w-1/4">
      <app-article />
    </div>
    <div class="w-1/4">
      <app-article />
    </div>
  </div>
</div>
