<div
  class="mx-auto my-5 flex max-h-screen w-8/12 justify-center gap-3 rounded-lg border-2 border-solid border-slate-500 bg-secondary py-6 shadow-md shadow-slate-600"
>
  <!-- ARROW LEFT -->
  <div class="flex items-center text-center">
    <svg
      class="hover:cursor-pointer hover:border-black hover:opacity-90"
      xmlns="http://www.w3.org/2000/svg"
      width="64"
      height="64"
      viewBox="0 0 64 64"
    >
      <circle cx="32" cy="32" r="30" fill="#4fd1d9" />
      <path fill="#FFF3D7" d="M30.3 16L15 32l15.3 16V37.4H49V27.1H30.3z" />
    </svg>
  </div>

  <!-- DISPLAY ARTICLES PROMO -->
  <app-article />
  <app-article />
  <app-article />
  <app-article />

  <!-- ARRROW RIGHT -->
  <div class="flex items-center text-center">
    <svg
      class="hover:cursor-pointer hover:border-black hover:opacity-90"
      xmlns="http://www.w3.org/2000/svg"
      width="64"
      height="64"
      viewBox="0 0 64 64"
    >
      <circle cx="32" cy="32" r="30" fill="#4fd1d9" />
      <path fill="#FFF3D7" d="M33.7 16L49 32L33.7 48V37.4H15V27.1h18.7z" />
    </svg>
  </div>
</div>
<div class="flex justify-center py-2">
  <h3 class="w-3/5 rounded-xl bg-card p-2 text-center text-xl">
    ⬆️ Articles en promotions ⬆️
  </h3>
</div>
