<div
  class="flex min-w-60 flex-col items-center justify-center gap-2 rounded-md border border-solid border-slate-700 bg-slate-800 p-3 align-middle text-slate-200 shadow-md shadow-slate-200"
>
  <h3 class="py-1 text-lg underline">Title card</h3>
  <div class="text-center">
    <p>Content : Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div>
    <img src="/assets/img/default_article.jpg" alt="default" />
  </div>
  <div class="flex w-full items-center justify-center gap-4 py-1">
    <p class="font-bold">
      Prix :
      <span class="italic">00$</span>
    </p>
  </div>
  <div class="flex w-full justify-center gap-3 align-middle">
    <input
      class="w-1/4 rounded-md border border-black bg-lime-400 text-center font-extrabold text-white hover:cursor-pointer"
      type="number"
      value="1"
      min="1"
      max="20"
    />

    <button
      class="rounded-md border border-black bg-emerald-400 px-2 text-white hover:scale-105 hover:cursor-pointer"
    >
      ➕
    </button>
  </div>
</div>
