<div
  class="flex w-64 flex-col items-center justify-center gap-2 rounded-lg border border-solid border-slate-700 bg-slate-800 align-middle text-slate-200 shadow-md shadow-slate-200"
>
  <h3 class="py-1">Title card</h3>
  <div class="text-center">
    <p>Content : Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <img
    src="/assets/img/default_article.jpg"
    alt=""
    height="250px"
    width="200px"
  />
  <div class="flex w-full items-center justify-center gap-4 py-1">
    <p>
      Prix :
      <span>00$</span>
    </p>
    <button
      class="rounded-lg border border-black bg-green-500 px-2 text-white hover:scale-105 hover:cursor-pointer hover:transition-all hover:ease-linear"
    >
      Add
    </button>
  </div>
</div>
