<div
  class="mt-28 flex h-4/6 w-96 flex-col flex-wrap justify-center gap-3 rounded-xl bg-card px-5 align-middle text-2xl"
  style="width: 35rem"
>
  <div class="m-6">
    <h3 class="text-center">Connectez-vous à votre compte</h3>
  </div>

  <label for="email">Email</label>
  <input
    class="rounded-lg p-2 text-slate-700"
    id="email"
    type="email"
    placeholder="ex: jhon@mail.demo"
  />

  <label for="passwd">Mot de passe</label>
  <div class="relative flex flex-row">
    <input
      class="w-full rounded-lg p-2 text-slate-700"
      id="passwd"
      [type]="isPassVisible ? 'text' : 'password'"
      placeholder="ex: Ab12*"
    />

    <button class="absolute right-0 hover:scale-110" (click)="togglePasswd()">
      👀
    </button>
  </div>

  <div class="mx-auto mt-4 flex gap-4">
    <label for="remember">Se souvenir de moi</label>
    <input type="checkbox" id="remember" />
  </div>
  <div class="pt-4">
    <p
      class="mt-4 text-center underline hover:cursor-pointer hover:text-green-400"
      [routerLink]="['/register']"
    >
      Clique ici pour créer un compte gratuitement
    </p>
  </div>
  <button
    type="button"
    class="mt-2 rounded-lg border border-white bg-indigo-500 px-5 py-2.5 text-center text-sm font-medium text-teal-200 hover:text-lime-100 hover:opacity-90 hover:outline hover:outline-lime-200 focus:ring-4"
  >
    Send
  </button>
</div>
