<div
  class="absolute left-1/3 top-1/4 mx-auto flex min-h-96 w-1/4 items-center rounded-xl bg-indigo-400 text-teal-200"
>
  <div
    class="flex size-full flex-col flex-wrap items-center justify-center gap-3"
  >
    <div class="p-3">
      <h3 class="underline">Connection</h3>
    </div>
    <div class="flex w-56 flex-col">
      <label for="email">Entre ton mail :</label>
      <input
        class="rounded-lg p-2 text-slate-700"
        id="email"
        type="email"
        placeholder="ex: jhon@mail.demo"
      />
    </div>
    <div class="flex w-56 flex-col">
      <label for="passwd">Entre ton mdp :</label>
      <div class="flex flex-row">
        <input
          class="rounded-lg p-2 text-slate-700"
          id="passwd"
          [type]="isPassVisible ? 'text' : 'password'"
          placeholder="ex: Ab12*"
        />

        <button class="hover:scale-110" (click)="togglePasswd()">👀</button>
      </div>

      <div class="flex w-56 flex-col">
        <label for="passwd">Confirme ton mdp :</label>
        <div class="flex flex-row">
          <input
            class="rounded-lg p-2 text-slate-700"
            id="passwd"
            [type]="isPassConfirmVisible ? 'text' : 'password'"
            placeholder="ex: Ab12*"
          />
          <button class="hover:scale-110" (click)="togglePasswdConfirm()">
            👀
          </button>
        </div>
      </div>
    </div>

    <button
      type="button"
      class="mb-2 me-2 rounded-lg border border-white bg-indigo-500 px-5 py-2.5 text-center text-sm font-medium text-teal-200 hover:scale-110 hover:opacity-90 focus:outline-none focus:ring-4"
    >
      Send
    </button>
  </div>
</div>
