<!-- TITLE -->
<div class="flex justify-center py-7">
  <h1
    class="w-fit rounded-xl bg-indigo-700 p-5 text-center text-xl text-teal-200 shadow-md shadow-slate-200"
  >
    Fait tes courses en quelques clique et choisi la date de livraison 🚗
  </h1>
</div>

<!-- SEARCH BAR bg-indigo-700 text-teal-200-->
<div class="flex justify-center">
  <app-search />
</div>

<!-- ARTICLES SECTION -->
<app-articles-promo-home-container />
<div class="flex justify-center py-2">
  <h3
    class="w-3/5 rounded-xl bg-indigo-800 p-2 text-center text-xl text-teal-200 shadow-md shadow-slate-200"
  >
    ⬆️ Articles en promotions ⬆️
  </h3>
</div>

<div class="hidden sm:block">
  <p>SM</p>
</div>

<div class="hidden md:block">
  <p>MD</p>
</div>

<div class="hidden lg:block">
  <p>LG</p>
</div>

<div class="hidden xl:block">
  <p>XL</p>
</div>

<div class="hidden 2xl:block">
  <p>2XL</p>
</div>
