<div class="flex justify-center py-7">
  <h1
    class="w-fit rounded-md border border-solid border-x-emerald-900 bg-slate-700 p-5 text-center text-xl text-gray-100"
  >
    Fait tes courses en quelques clic et choisi la date de livraison 🚗
  </h1>
</div>

<div class="flex justify-center">
  <app-search />
</div>

<app-articles-container />
<div class="flex justify-center py-3">
  <h3
    class="w-fit rounded-md border border-solid border-x-emerald-900 bg-slate-700 p-5 text-center text-xl text-gray-100"
  >
    ⬆️ Articles en promotions ⬆️
  </h3>
</div>
