<!-- TITLE -->
<div class="flex justify-center py-7">
  <h1
    class="w-fit rounded-md bg-slate-700 p-5 text-center text-xl text-gray-100 shadow-md shadow-slate-200"
  >
    Fait tes courses en quelques clic et choisi la date de livraison 🚗
  </h1>
</div>

<!-- SEARCH BAR -->
<div class="flex justify-center">
  <app-search />
</div>

<!-- ARTICLES SECTION -->
<app-articles-promo-home-container />
<div class="flex justify-center py-3">
  <h3
    class="w-fit rounded-md bg-slate-700 p-5 text-center text-xl text-gray-100 shadow-md shadow-slate-200"
  >
    ⬆️ Articles en promotions ⬆️
  </h3>
</div>
